[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pytest-runner = "*"
fuzzywuzzy = "*"
pandas = "*"
tqdm = "==4.24"
appdirs = "*"
Rtree = "*"

[dev-packages]

[requires]
python_version = "3.6"
